html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
*{
    box-sizing: border-box;

}
body{
    background-color: gray;
}
a{
    text-decoration: none;
}
.contenaire{
    width: 1440px;
    margin: auto;
}

header img{
    width: 1440px;
    height: 500px;
}
.cat1{
    display: flex;
    flex-wrap: wrap;
}
section > div{
    width: 340px;
    margin: 10px;
    border: 1px solid black;
}
img{
    width: 100%;
}
figcaption{
    margin: 10px;
}
.img1{
    position: relative;
}
.mar{
    position: absolute;
    z-index: 1;
    text-align: center;
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 50%;
    right: 20px;
    top: 20px;
}
.screen{
    position: absolute;
    text-align: center;
    background-color: purple;
    color: white;
    padding: 20px;
    top: 270px;
    left: 20px;
}
.hdrdiv{
    color: purple;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.lick{
    position: relative;
}
.like{
    display: inline;
    padding: 5px;
    font-size: 40px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple ) ;
    position: absolute;
    left: 90%;
}
.promo{
    display: inline;
    position: absolute;
    top: 72%;
    left: 5px;
}
.promo span{
    background-color: red;
    font-size: 18px;
    padding: 5px;
}
.bare{
    text-decoration: line-through;
}
.origine{
    opacity: 0.5;
}
.prix{
    color: red;
    font-size: 20px;
}
.prix1{
    color: red;
}
@media (max-width: 1440px){
    .contenaire{
        width: 90%;
    }
    .img{
        width: 50%;
    }
    header img{
    width: 100%;
    height: 400px;
    }
    section > div{
    width: 24%;
    height: 24%;
    margin: 0;
}
    img{
    width: 100%;
}
    .cat1{
        justify-content: space-around;
    }
}

@media (max-width: 960px){
    .contenaire{
        width: 100%;
    }
    header img{
    display: none;
    }
    img{
    width: 100%;
}
.cat1{
    margin-left: 0px;
}
}

@media (max-width: 760px){
    .contenaire{
        width: 100%;
    }
    .img{
        width: 50%;
    }
    header img{
    display: none;
    }
    img{
    width: 230px;
}
section > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.cat1{
    display: block;
}
}
