html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
*{
    box-sizing: border-box;

}
body{
    color: white;
}
/* .contenaire{
    width: 1440px;
    margin: auto;
} */
.dino{
    width: 100%;
}
nav{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 30px;
    z-index: 1;
}
ul{
    display: flex;
    list-style-type: none;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.7;
}
.enfr{
    color: gray;
}
.hdrImg1{ 
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.hdrImg2{
    position: absolute;
    top: 250px;
    left: 570px;    
}
.hdrImg3{
    position: absolute;
    bottom: 0;
    right: 0;
}
.sec1{
    width: 800px;
    margin: auto;
    color: black;
    text-align: center;
}
.sec1 img{
    width: 100%;
}
.txt1{
    display: flex;
    text-align: left;
}
.reserv{
    background-color: blue;
    padding: 10px 30px;
}
.sec2{
    padding-top: 30px;
    width: 1200px;
    margin: auto;
    color: black;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-right: 160px;
}
.metro{
    height: 20px;
    /* position: absolute; */
}
.partenaires{
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: 800;
}

footer{
    padding: 80px 0px 20px 0px;
    background-color: black;
}
.ftrdiv{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 160px;
    align-items: center;
}